In [51]:
import pandas as pd

In [52]:
df = pd.read_csv('data.csv')

In [27]:
df = df.replace('\n', ' ', regex=True)

In [47]:
df.drop(labels=' trial_id', axis=1, inplace=True)

In [48]:
df.rename({' data_type': 'data_type', ' algorithm': 'algorithm', ' time_spent': 'time_spent'}, inplace=True)

In [58]:
grouped_df = df.groupby(['dimension','data_type', 'algorithm']).mean().round(decimals=5)

In [62]:
df.loc[df["dimension"]  == 2000 ]

     dimension data_type algorithm  time_spent  trial_id
480       2000    double       IJK   52.293393         0
481       2000    double       JIK   48.177531         0
482       2000    double       KIJ   28.018239         0
483       2000    double       IKJ   27.654901         0
484       2000    double       JKI   90.647603         0
..         ...       ...       ...         ...       ...
555       2000     float       KIJ   25.734623         4
556       2000     float       JKI   81.248763         4
557       2000     float       KJI   78.049475         4
558       2000     float        IJ    0.018033         4
559       2000     float        JI    0.060847         4

[80 rows x 5 columns]

In [60]:
grouped_df

                               time_spent  trial_id
dimension data_type algorithm
100       double    IJ            0.00008         2
                    IJK           0.00481         2
                    IKJ           0.00368         2
                    JI            0.00006         2
                    JIK           0.00411         2
...                                   ...       ...
2000      float     JI            0.06086         2
                    JIK          40.44077         2
                    JKI          81.68030         2
                    KIJ          26.01217         2
                    KJI          77.12445         2

[105 rows x 2 columns]

In [63]:
grouped_df.to_csv('./means.csv')